.Feedback,
.Question,
.UserInput {
  float: left;
}
.Question{
  width: 5em;
}

.Feedback {
  background-color: teal;
  height          : inherit;
  padding-left    : 3em;
}

.Table {
  padding: 1em;
}