.Feedback,
.Question,
.TextInput {
  float: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.Question{
  width: 5em;
}

.Feedback {
  background-color: teal;
  padding-left    : 1em;
  padding-right: 1em;
}

.Table {
  padding: 1em;
  height: 2em;
}
.Timer{
  text-align: left;
    padding: 2em;

}
.Level{
  margin:1em;
 
}

@media (min-width: 820px) {
  .Container {
    column-count: 2;
  }
  .Timer{
    text-align: right;
  }
}